<h1> Elegir el nivel de dificultad con el tamaño del codigo secreto  </h1> <br>
<form method="get" action="/ingresarCodigo" >
<input type="submit" value="4" name="dificultad"><br>
<input type="submit" value="6" name="dificultad"><br>
<input type="submit" value="8" name="dificultad"><br>