    <h2>Elige con quien deseas jugar:</h2>

    <div>
        <a href="/iniciar"><button>contra bot</button></a>
    </div>
    <br>
    <div>
        <a href="/ingresarCodigo"><button>contra otro jugador</button></a>
    </div>
