<%if $torosVacas.formatoCorrecto($codigoSecreto) == false %>
  <META HTTP-EQUIV="REFRESH" CONTENT="0;URL=http://localhost:4567//ingresarCodigo">
<%end%>
<%if $torosVacas.formatoCorrecto($codigoSecreto)%>
    <% $codigoSecretoOk = true %>
<% end %>

Ingrese su intento
<form method="post" action="/verificar ">
  <input type="string"  name="intento">
  <input type="submit" value="Verificar">
<% if $intento!=nil and $torosVacas.formatoCorrecto($intento)!=true %>
  <h4>Su respuesta no tiene el formato</h4>
<% end %>
<% if $intento!=nil and $torosVacas.formatoCorrecto($intento)==true %>
  <%$intentosHechos=$intentosHechos+1%>
  <br>intentos hechos: <%=$intentosHechos%><br>
  <%$listaIntentos.append($intento)%>
  codigos probados: <%=$listaIntentos%>
 <br>su intento tiene <br>
  vacas: <%=$respuesta[1]%> <br>
  toros: <%=$respuesta[0]%><br>
<%end%>
<% if $intento!=nil%>
  <% if$respuesta[0]==$dificultad or $intentosHechos==$nroIntentos%>
    <META HTTP-EQUIV="REFRESH" CONTENT="0;URL=http://localhost:4567/resultadofinal">  
  <% end %>
<% end %>
 