Ingresa el codigo secreto de <%= $dificultad %> caracteres<br>
<%if $tipoDeDato=="numeros"%>
  El codigo secreto debe estar formado por numeros entre el 1 y el 9<br>
<%end%>
<%if $tipoDeDato=="colores"%>
  El codigo secreto debe estar formado por las iniciales de los colores.<br>
  Existen los colores verde=v, azul=a, celeste=c, morado=m, naranja=n, blanco=b, rojo=r, gris=g, y turquesa=t
<%end%>
<form method="get" action="/iniciar">
  <input type="text"  name="codigo">
  <input type="submit" value="Iniciar el juego">

<% if $codigoSecreto!=nil%>
  <h4>Codigo no sigue el formato, no se olvide que deben ser <%=$dificultad%> caracteres</h4>
<% end %>
