Ingresa el codigo secreto de <%= $dificultad %> digitos
<form method="get" action="/iniciar">
  <input type="text"  name="codigo">
  <input type="submit" value="Iniciar el juego">

<% if $codigoSecreto!=nil%>
  <h4>Codigo no sigue el formato no se olvide que deben ser 4 numeros</h4>
<% end %>
