<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/showOptions.css">
  <head>
  <body>
    <div>
        <h2>Toros y vacas</h2>
        <h3>Debes adivinar el codigo secreto!</h3>
      <h4 class="title">
        Una vaca significa que existe una coincidencia
        de un dato y un toro que existe una coincidencia entre el dato y la posicion</h4>
      <div class="note_card">
        <div class="related_notes meat">
            <h3>Tienes 10 intentos para adivinar el codigo secreto</h3>
        </div>
        <div class="related_notes meat">
            <h3>El codigo secreto esta formado por un numero entre el 1 y el 9</h3>
        </div>
        <div>
            <a href="/tipoDePartida"><button>Jugar como usuario</button></a>
        </div>
        <br>
        <div>
            <a href="/tipoDePartida"><button>Jugar como invitado</button></a>
        </div>
    </div>
    <div>
    </div>
</div>
  </body>
</html>


