<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/showOptions.css">
  <head>
  <body>
    <div>
        <h2>Toros y vacas</h2>
        <h3>Debes adivinar el codigo secreto!</h3>
      <h4 class="title">
        Una vaca significa que existe una coincidencia
        de un dato y un toro que existe una coincidencia entre el dato y la posicion</h4>
      <div class="note_card">
        <div>
            <form method="get" action="/tipoDePartida">
            <input type="submit" value="Jugar como invitado">
            </form>
        </div>
        <br>
        <div>
          <form method="get" action="/username">
          <input type="submit" value="Jugar como usuario">
          </form>
        </div>
    </div>
    <div>
    </div>
</div>
  </body>
</html>


