
<h1>Bienvenido <%= $nombreUsuario %></h1> 
<form method="get" action="/tipoDeDato">
<input type="submit" value="partida rapida"><br>
<br>Ingrese el numero de intentos que desea para su partida<br>
<form method="get" action="/tipoDeDato" >
  <input type="text"  name="numeroDeIntentos" >
  <input type="submit" value="partida personalizada">