
<form action="/escogerDificultad">
  <p>Seleccione el tipo de dato para jugar:</p>
  <input type="radio" id="numeros" name="tipo" value="numero">
  <label for="numeros">Numeros</label><br>
  <input type="radio" id="colores" name="tipo" value="color">
  <label for="colores">Colores</label><br>
  <input type="submit" value="Submit">
</form>