

.related_notes .note_card {
    margin-right: 15px;
    font-size: 11px;
    line-height: 1.2em;
    float: center;
    width: 250px;
    height: 125px;
    overflow: hidden
}

.related_notes {
    color: gray;
    font-size: 14px;
    line-height: 18px
}

title {
    color: #FF0000;
}

body {
    align-content: center;
    text-align: center;
    line-height: 1;
    /*background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
    */
}